<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Project </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/projects/all}"> Back to All Projects </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/projects/save}"
                  th:object="${formMember}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Client Name</th>
                            <th> Country</th>
                            <th> Status</th>
                            <th> Start Date</th>
                            <th> End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <p>
                        <h2>Enter project values</h2></p>
                        <td><input th:placeholder="Name" th:field="*{name}" required/></td>
                        <td><input th:placeholder="ClientName" th:field="*{clientName}" required/></td>
                        <td><input th:placeholder="Country" th:field="*{country}" required/></td>
                        <td><input th:placeholder="Status" th:field="*{status}" required/></td>
                        <td><input type="date" th:field="*{{startDate}}" required/></td>
                        <td><input type="date" th:field="*{{endDate}}" required/></td>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name</th>
                            <th> Surname</th>
                            <th> Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <p>
                        <h2>Enter project members</h2></p>
                        <tr th:each="member, itemStat : *{memberList}">
                            <td><input th:placeholder="Name + ' ' + ${itemStat.count}"
                                       th:field="*{memberList[__${itemStat.index}__].name}" required/></td>
                            <td><input th:placeholder="Surname + ' ' + ${itemStat.count}"
                                       th:field="*{memberList[__${itemStat.index}__].surname}" required/>
                            <td><input th:placeholder="Role + ' ' + ${itemStat.count}"
                                       th:field="*{memberList[__${itemStat.index}__].role}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>