<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Projects </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Projects Names</th>
                    <th> Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${projects.isEmpty()}">
                    <td colspan="2"> No Projects Available</td>
                </tr>
                <tr th:each="project : ${projects}">
                    <td><span th:text="${project.name}"> Project name </span></td>
                    <td><span th:text="${project.status}"> Project status </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/projects/create}"> Add Project </a>
            <a class="btn btn-primary" href="#" th:href="@{/projects/search}"
               th:classappend="${projects.isEmpty()} ? 'disabled' : ''"> Edit Projects </a>
            <a class="btn btn-primary" href="#" th:href="@{/projects/search}"
               th:classappend="${projects.isEmpty()} ? 'disabled' : ''"> DeleteProject </a>
            <a class="btn btn-primary" href="#" th:href="@{/projects/}"> Go to Menu </a>
        </div>
    </div>
</div>
</body>
</html>