<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Project By Name</h1>
            <form class="form-inline md-form mr-auto mb-4" th:action="@{/projects/edit}">
                <input class="form-control mr-sm-2" type="text" th:name="name" required placeholder="Project Name"
                       aria-label="Search">
                <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit">Edit</button>
            </form>
        </div>

        <div class="col-md-12">
            <h1> Delete Project By Name</h1>
            <form class="form-inline md-form mr-auto mb-4" th:action="@{/projects/delete}">
                <input class="form-control mr-sm-2" type="text" th:name="name" required placeholder="Project Name"
                       aria-label="Search">
                <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit">Delete</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" href="#" th:href="@{/projects/all}"> Back to All Projects </a>
</div>
</body>
</html>